header {
  border-bottom: 2px solid;
}

main {
  margin-bottom: 3em;
}
.text {
  padding-left: 2em;
}

.flex-3x3 {
  gap: 5em;
  text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}
.flex-3x3__element2 {
  text-align: center;
  padding: 5px;
}

.flex-3x3__element2 a {
  color: var(--secondary);
}

.flex-3x3__element2 {
  color: green;
}

form {
  max-width: 600px;
  text-align: left;
  padding: 1em;
  margin: auto;
}

form input {
  background-color: aquamarine;
  margin: 1em;
}

form textarea {
  background-color: aquamarine;
}

.form-col {
  display: flex;
  flex-direction: column;
  padding: 2em;
  -webkit-box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.75);
}

.submit {
  width: 50%;
}

/*Small SIze*/
@media (max-width: 550px) {
  form {
    text-align: center;
    padding: 0;
  }

  form input {
    margin: 0;
  }

  form textarea {
    width: 100%;
  }

  .flex-3x3 {
    gap: 2em;
  }

  .flex-3x3__element2 {
    margin: auto;
  }
}


/*Animations*/

.animate-text {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 30%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.animate-form {
  animation-duration: 2s;
  animation-name: slideDown;
}

@keyframes slideDown {
  from {
    margin-top: 100%;
    height: 300%;
  }
  to {
    margin-top: 0%;
    height: 100%;
  }
}

.animate-social {
  animation-duration: 2s;
  animation-name: slideDown;
}