/*NAV LINKS*/

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: #ffcc00;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: $primary;
  font-weight: 500;
  text-decoration: none;
  font-size: clamp(20px, 1.6vw, 30px);
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  background-color: red;
  color: white;
}
