/*Font size*/
$size-h1: 40px;
$size-h2: 20px;
$size-text: 22px;

/*font family*/
$font-family-sans-serif: "Exo", sans-serif;

/*Colors*/
$primary: rgb(27, 62, 175);
$secondary: #392791;
$info: #569bbf;
$danger: #e02124;
$dark: #8f2929;

/*Nivel de Programa Evento*/
$niveles: (
  avanzado: red,
  intermedio: green,
  principiante: yellow,
);

/*Map*/
$paleta: (
  "azulClaro": $info,
  "azul": $primary,
  "purpura": $secondary,
  "rojo": $danger,
  "rojoDark": $dark,
);

/*paddings*/

$container-padding-x: 0 !important;

