
  /*Font size*/
  $size-h1: 40px;
  $size-h2: 20px;
  $size-text: 22px;

  /*font family*/
  $font-family-sans-serif: 'Exo', sans-serif;
  

  /*Colors*/
$primary:       rgb(27, 62, 175);
$secondary:     #392791;
$success:       $green !default;
$info:          #569bbf;
$warning:       $yellow !default;
$danger:        #e02124;
$light:         $gray-100 !default;
$dark:          #8f2929;


// scss-docs-start nav-variables
$nav-link-color:   white;
$nav-link-hover-color:   $danger;
$link-hover-color: $danger;
 
/*Map*/
$paleta: (
  "azulClaro": $info,
  "azul": $primary,
  "purpura": $secondary,
  "rojo": $danger,
  "rojoDark": $dark,
);


  @each $name, $color in $paleta {
    .#{$name} {
      background-color: #{$color};
    }
  }

  
  /*paddings*/

  $container-padding-x: 0!important;
