
  /*tamaño letras*/
  $size-h1: 40px;
  $size-h2: 20px;
  $size-text: 22px;
  
  
/*paleta de colores*/
$primary: #569bbf;
$secondary: rgb(27, 62, 175);
$tertiary: #392791;
$quantenary: #e02124;
$quintenary: #8f2929;
 
/*Map*/
$paleta: (
  "azulClaro": $primary,
  "azul": $secondary,
  "purpura": $tertiary,
  "rojo": $quantenary,
  "rojoDark": $quintenary,
);

  @each $name, $color in $paleta {
    .#{$name} {
      background-color: #{$color};
    }
  }

  
  